* {
  font-family: 'Segoe UI';
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#main__Descripcion {
  display: flex;
  flex-direction: column;
}

.despair {
  display: flex;
  flex-direction: column;
}

.objeto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  padding: 30px 0 30px 30px;
}

.objeto__article>div:nth-child(1) {
  width: 60vw;

  h3 {
    color: #002651;
    font-size: 30px;
    font-weight: 500;
    margin: 50px 0 30px 0;
  }
}

.objeto__article>div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41.18vh;
}

.objeto__article>div:nth-child(2)>img {
  height: 100%;
}

.objeto__article>div:nth-child(3) {
  padding-left: 3.76vw;
  border: 1px;
  border-color: #F1F3F5;
  width: 51vw;
  height: 10.12vw;
  overflow: hidden;
  padding: 0.86vw;
  display: flex;
  align-items: center;

}

@media (max-width:1568px) {
  .objeto__article>div:nth-child(3) {
    padding-left: 3.76vw;
    border: 1px;
    border-color: #F1F3F5;
    width: 51.80vw;
    height: 10.12vw;
    overflow: hidden;
    padding: 0.86vw;
    display: flex;
    align-items: center;

  }

}

.objeto__article-div-div {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  width: 48.67vw;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0.86vw;
  gap: 10px;
  margin-right: 1.446vw;
}

.objeto__article-div-div-img {
  border-radius: 12px;
  box-shadow: 0 10px 10px rgb(218, 218, 218);
  padding: 3px;
  cursor: pointer;
  transition: border-color 0.2s ease;
  flex-shrink: 0;
  width: 8vw;
  height: 8vw;
  object-fit: contain;
}

.objeto__article-div-div-img.selected {
  border-color: #007BFF;
}

.objeto__article-div--arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.16vw;
  width: 4.16vw;
  background: #003366;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.objeto__descrip {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.objeto__descrip>div:first-child {
  margin-left: 0.636vw;
  color: #495057;

}

.objeto__descrip>div:first-child>h2 {
  font-size: 2.025vw;
}

.objeto__descrip--descrip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1.15vw;
}

.objeto__descrip--descrip-div {
  padding: 1.66vw;
  width: 27.37vw;
  min-height: 49.14vh;
  margin-right: 2.43vw;
  box-shadow: 0 10px 10px #F1F3F5;
  border: 0.057vw solid #F1F3F5;
  border-radius: 8px;
}

.objeto__descrip--descrip-div>p {
  color: #495057;
  font-size: 1.44vw;
}




.cuotas {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: sans-serif;
  padding: 30px;
  background-color: #F6F6F6;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgb(195, 195, 195);
}

.cuotas__label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.cuotas__slider-container {
  position: relative;
  height: 20px;
}

.cuotas__slider-track {
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ddd;
  border-radius: 2px;
}

.cuotas__fixed-thumb {
  position: absolute;
  top: 2px;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #2C2C2C;
  border-radius: 50%;
  pointer-events: none;
}

.cuotas__range {
  position: absolute;
  width: 100%;
  top: 0;
  height: 20px;
  background: none;
  pointer-events: auto;
  appearance: none;
  -webkit-appearance: none;
}


.cuotas__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2C2C2C;
  border: none;
  cursor: pointer;
  margin-top: 0;
}

/* Firefox */
.cuotas__range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2C2C2C;
  border: none;
  cursor: pointer;
}

.cuotas__descripcion {
  color: #888;
  font-size: 14px;
}

#cuotasBox {
  display: flex;
  height: 100%;
}

.cuotas__precio h2 {
  font-size: 35px;
  font-weight: 500;
  color: #003366;
}

.main__aside>div:nth-child(2) {
  color: #003366;
  font-size: 1.11vw;
  font-weight: 100;
}

.main__aside>div:nth-child(2)>h2 {
  font-weight: 600;
}

.main-aside--stock {
  display: flex;
  flex-direction: column;
  color: #495057;
}

.main-aside--stock>h2:first-child {
  margin-bottom: 1.45vw;
  font-size: 2vw;
  font-weight: 500;

}

.comprar {
  position: relative;
  width: 17.19vw;
  margin-bottom: 1.85vw;
}

.main-aside--stock--button {
  background-color: #002651;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  max-width: 100%;
  min-width: 17.19vw;
  height: 2.44vw;
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.main-aside--stock--button>h2:first-child {
  font-weight: 400;
}

.main-aside--stock--arrow {
  color: #004a94;
  font-size: 20px;
  transition: transform 0.3s;
}

.main-aside--stock--menu {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 100%;
  min-width: 17.19vw;
  background-color: #002F6C;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  display: none;
  z-index: 100;
}

.main-aside--stock--menu.active {
  display: block;
  border-radius: 0;
}

.main-aside--stock--option {
  padding: 10px 12px;
  color: white;
  cursor: pointer;
}

.main-aside--stock--option:hover {
  background-color: #004080;
}

.main-aside--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-aside--buttons>button {
  padding: 10px 12px;
  border-radius: 0.46vw;
  border: none;
  font-size: 23px;
  color: white;
}

.main-aside--buttons>button:first-child {
  background-color: #002651;
  margin: 0 20px 0 0;
}

.main-aside--buttons>button:last-child {
  background-color: #008dff;
  margin: 0 0 0 20px;
  transition: box-shadow .5s;
  box-shadow: 0 0 10px #008dff;
}

.main-aside--buttons>button:last-child:hover {
  box-shadow: 0 0 10px #b2dfff;
}



.main__aside--reseñas {
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.main__aside--reseñas__container {
  max-width: 400px;
  width: 23.15vw;
  padding: 0.93vw;
  align-self: flex-start;
}

.main__aside--reseñas__titulo {
  margin-bottom: 16px;
}

.main__aside--reseñas__scroll-box {
  max-height: 43.51vw;
  overflow-y: auto;
  padding-right: 8px;
}

.main__aside--reseñas__card {
  height: 12.85vw;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.main__aside--reseñas__stars {
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}

.main__aside--reseñas__title {
  font-weight: bold;
  font-size: 1.1rem;
}

.main__aside--reseñas__body {
  font-size: 0.95rem;
  color: #555;
  margin: 4px 0 10px;
}

.main__aside--reseñas__footer {
  display: flex;
  align-items: center;
}

.main__aside--reseñas__footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.main__aside--reseñas__reviewer-info {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.main__aside--reseñas__reviewer-name {
  color: #555;
  font-weight: 500;
}

.main__aside--reseñas__review-date {
  color: #aaa;
}

/* Scrollbar personalizada */
.main__aside--reseñas__scroll-box::-webkit-scrollbar {
  width: 10px;
}

.main__aside--reseñas__scroll-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.main__aside--reseñas__scroll-box::-webkit-scrollbar-track {
  background: transparent;
}

#descripcionYReseñas {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 40px;
}

.destacados {
  margin-top: 5.72vh;
  padding-left: 4.63vw;
  background-color: #F1F3F5;
}

.destacados__article {
  margin-top: 2.777vh;
  margin-bottom: 1.79vw;
  padding-right: 3.47vw;
}

.destacados__article>div:nth-child(1)>h2 {
  color: #003366;
  font-size: 60px;
  font-weight: 500;
}

.destacados__article>div:nth-child(1) {
  margin: 40px 0;
}

.destacados__article-div-div {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: pointer;
  margin-right: 100px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.destacados__article-div-div::-webkit-scrollbar {
  display: none;
}

.destacado__article-div-div-div {
  width: 23%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  flex-shrink: 0;
  scroll-snap-align: center;
  margin: 10px 10px 10px 0;
  padding: 20px 30px;
}

.destacado__article-div-div-div img {
  height: 70%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  align-self: center;
}

.destacado__article-div-div-div-text {
  font-weight: bold;
  margin-top: 8px;
}

.destacado__article-div-div-div-precio {
  color: black;
  font-weight: 600;
  margin: 4px 0;
}

.destacado__article-div-div-div-descr {
  color: #777;
  font-size: 0.81vw;
}

.destacados__article-div {
  display: flex;
  align-items: center;
}

.destacado__article-div-button {
  margin-left: 3.17vw;
  width: 6.36vw;
  height: 6.36vw;
  border-radius: 50%;
  background-color: #005b96;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
}

.destacado__article-div-button img {
  width: 1.38vw;
  height: 2.777vw;
}



@media (max-width: 951px) {

  #main__Descripcion {
    display: flex;
    flex-direction: column;
    padding-top: 10.455vw
  }

  .despair {
    display: flex;
    flex-direction: column;
  }

  .objeto {
    width: 93%;
    padding-left: 3.41vw;
    padding-right: 3.41vw;
    display: flex;
    flex-direction: column;

  }


  .objeto__article>div:nth-child(1) {

    h3 {

      color: #003366;
      font-size: 5.83vw;
    }
  }

  .objeto__article>div:nth-child(1)>h3 {
    color: #003366;
    font-size: 5.83vw;
  }

  .objeto__article>div:nth-child(2) {
    margin-top: 8.77vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.51vh;
  }

  .objeto__article>div:nth-child(2)>img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  .objeto__article>div:nth-child(3) {
    margin-top: 13.18vw;
    padding-left: 3.76vw;
    border: 1px;
    border-color: #F1F3F5;
    width: 100%;
    height: 30.12vw;
    overflow: hidden;
    padding: 0.86vw;
    display: flex;
    align-items: center;

  }

  .objeto__article-div-div {
    width: 90.15vw;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0.86vw;
    gap: 10px;
    margin-right: 3.86vw;
  }

  .objeto__article-div-div-img {
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    transition: border-color 0.2s ease;
    flex-shrink: 0;
    width: 22.73vw;
    height: 22.73vw;
    object-fit: cover;
  }

  .objeto__article-div-div-img.selected {
    border-color: #008dff;
  }

  .objeto__article-div--arrow {
    height: 14.91vw;
    width: 14.91vw;
    background: #002651;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }

  .objeto__descrip {
    padding-top: 2.31vw;
    background-color: #F6F6F6;
    border: 1px solid black;
  }

  .cuotas {
    max-width: 100%;
    font-family: sans-serif;
    margin-right: 0;
  }

  .cuotas__label {
    display: flex;
    justify-content: space-between;
    font-size: 2.64vw;
    margin-bottom: 10px;
  }

  .cuotas__slider-container {
    position: relative;
    height: 20px;
  }

  .cuotas__slider-track {
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
  }

  .cuotas__fixed-thumb {
    position: absolute;
    top: 2px;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: #2C2C2C;
    border-radius: 50%;
    pointer-events: none;
  }

  .cuotas__range {
    position: absolute;
    width: 100%;
    top: 0;
    height: 20px;
    background: none;
    pointer-events: auto;
    appearance: none;
    -webkit-appearance: none;
  }


  .cuotas__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2C2C2C;
    border: none;
    cursor: pointer;
    margin-top: 0;
  }

  /* Firefox */
  .cuotas__range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2C2C2C;
    border: none;
    cursor: pointer;
  }

  .cuotas__descripcion {
    margin-top: 8px;
    color: #888;
    font-size: 1.64vw;
  }

  .main__aside>div:first-child {
    margin-left: 0.636vw;
    color: #495057;
    display: flex;
    justify-content: center;

  }

  .main__aside>div:first-child>h2 {
    font-size: 7.025vw;

  }

  .objeto__descrip--descrip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.15vw;
    padding-right: 1.15vw;
    border: 1px solid black;
  }

  .objeto__descrip--descrip-div {
    padding: 1.66vw;
    min-height: 19.14vh;
    width: 87vw !important;
    margin-right: 2.43vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 0.057vw solid #F1F3F5;

  }

  .objeto__descrip--descrip-div>p {
    color: #495057;
    font-size: 4.44vw;

  }

  .objeto__descrip>div:nth-child(2) {
    color: #003366;
    font-size: 3.09vw;
    font-weight: 100;
    margin-left: 2.43vw;
    margin-top: 2.43vw;
  }

  .objeto__descrip>div:nth-child(2)>h2 {
    font-weight: 600;
  }

  .main-aside--stock {
    display: flex;
    flex-direction: column;
    margin-top: 2.43vw;
    margin-left: 2.43vw;
    color: #495057;
  }

  .main-aside--stock>h2:first-child {
    margin-bottom: 1.45vw;
    font-size: 7vw;
    font-weight: 400;

  }

  .main-aside--stock>div:last-child>h3 {
    margin-bottom: 1.45vw;
    font-size: 4vw;
    font-weight: 400;
  }

  .comprar {
    position: relative;
    width: 100%;
    margin-bottom: 1.85vw;
  }

  .main-aside--stock--button {

    background-color: #002F6C;
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    max-width: 93%;
    min-width: 7.19vw;
    height: 12.44vw;
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .main-aside--stock--button>h2:first-child {
    font-weight: 400;
  }

  .main-aside--stock--arrow {
    color: #007BFF;
    font-size: 20px;
    transition: transform 0.3s;
    display: none;
  }

  .main-aside--stock--menu {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 100%;
    min-width: 17.19vw;
    background-color: #002F6C;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    display: none;
    z-index: 100;
  }

  .main-aside--stock--menu.active {
    display: block;
    border-radius: 0;
  }

  .main-aside--stock--option {
    padding: 10px 12px;
    color: white;
    cursor: pointer;
  }

  .main-aside--stock--option:hover {
    background-color: #004080;
  }

  .main-aside--buttons {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 3.36vw;
    margin-bottom: 3.32vw;
  }

  .main-aside--buttons>button {
    width: 81vw;
    height: 12.95vw;
    border-radius: 0.46vw;
    border: none;
    font-size: 5.45vw;
  }

  .main-aside--buttons>button:first-child {
    color: white;
    background-color: #003366;
    margin-bottom: 1.5vw;

  }

  .main-aside--buttons>button:last-child {
    color: black;
    background-color: #00CFFF;
  }

  .main__aside--reseñas {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .main__aside--reseñas__container {
    max-width: 95vw !important;
    width: 75vw;
    padding: 0.93vw;
  }

  .main__aside--reseñas__titulo {
    margin-bottom: 16px;
  }

  .main__aside--reseñas__scroll-box {
    max-height: 73.51vw;
    overflow-y: auto;
    padding-right: 8px;
  }

  .main__aside--reseñas__card {
    height: 31.82vw;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }

  .main__aside--reseñas__stars {
    font-size: 4vw;
    color: black;
    margin-bottom: 8px;
  }

  .main__aside--reseñas__title {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .main__aside--reseñas__body {
    font-size: 0.95rem;
    color: #555;
    margin: 4px 0 10px;
  }

  .main__aside--reseñas__footer {
    display: flex;
    align-items: center;
  }

  .main__aside--reseñas__footer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .main__aside--reseñas__reviewer-info {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
  }

  .main__aside--reseñas__reviewer-name {
    color: #555;
    font-weight: 500;
  }

  .main__aside--reseñas__review-date {
    color: #aaa;
  }

  /* Scrollbar personalizada */
  .main__aside--reseñas__scroll-box::-webkit-scrollbar {
    width: 10px;
  }

  .main__aside--reseñas__scroll-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  .main__aside--reseñas__scroll-box::-webkit-scrollbar-track {
    background: transparent;
  }

  .destacados {
    margin-top: 5.72vh;
    padding-left: 4.63vw;
    background-color: #F1F3F5;
  }

  .destacados__article {
    margin-top: 2.777vh;
    margin-bottom: 1.79vw;
    padding-left: 4.63vw;
    padding-right: 3.47vw;
  }

  .destacados__article>div:nth-child(1)>h2 {
    color: #003366;
    font-size: 4.05vw;
    margin-bottom: 3vw;
  }

  .destacados__article-div-div {
    display: flex;
    overflow-x: auto;
    gap: 1.74vw;
    width: 59.17vw;
    height: 65vw;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .destacados__article-div-div::-webkit-scrollbar {
    display: none;
  }

  .destacado__article-div-div-div {
    background-color: white;
    border-radius: 0.57vw;
    padding: 0.69vw;
    width: 56.213vw;
    height: 60.5vw;
    flex-shrink: 0;
    border: 1px solid #D9D9D9;
    overflow: hidden;
  }

  .destacado__article-div-div-div img {
    width: 100%;
    height: auto;
  }

  .destacado__article-div-div-div-text {
    font-weight: bold;
    margin-top: 8px;
  }

  .destacado__article-div-div-div-precio {
    color: black;
    font-weight: 600;
    margin: 4px 0;
  }

  .destacado__article-div-div-div-descr {
    color: #777;
    font-size: 0.81vw;
  }

  .destacados__article-div {
    display: flex;
    align-items: center;
  }

  .destacado__article-div-button {
    margin-left: 3.17vw;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background-color: #005b96;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
  }

  .destacado__article-div-button img {
    width: 1.38vw;
    height: 2.777vw;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.none {
  display: none;
}