footer {
  background: #003366;
  color: white !important;
  padding: 2% 0;
}

.footer-container {
  color: white !important;
  max-width: 700px;
  margin-left: 1%;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.footer-section {
  margin: 20px 80px 20px 30px;
  display: flex;
  flex-direction: column;
}

.footer-section h4 {
  padding-bottom: 20px;
}

.footer-section a {
  margin: 5px 0;
}

@media (max-width:768px) {
  .footer-container {
    flex-direction: column;
    align-items: start;
    font-size: 26px;
  }
}
