* {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3% 2% 5% 4%;
  background: white;
  animation: fadeIn 1s ease;
}

.banner-text {
  flex: 1;
  min-width: 300px;
}

.banner-text h1 {
  font-size: 3em;
  color: #003366;
  margin-left: 35px;
}

.banner-text p {
  margin: 5% 10% 5% 4%;
  color: #003366;
  margin-left: 35px;
}

.banner-text button {
  background: #007BFF;
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 35px;
  padding: 1.2% 2.4%;
  font-size: 2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s;
  height: 15%;
  width: 30%;
}

.banner-text button:hover {
  background: #005bb5;

}

.banner-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.banner-image img {
  width: 80%;
  max-width: 400px;
}

.productos {
  padding: 4% 2%;
  text-align: center;
  background-color: #F1F3F5;
}

.productos h2 {
  margin-right: 70%;
  font-size: 2.5em;
  color: #003366;
}

.carousel-container {
  padding-top: 2%;
  padding-bottom: 1%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: pointer;
  margin-right: 19%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.producto-card {
  min-height: 20%;
  min-width: 14%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 0.5%;
  padding: 3%;
  text-align: start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.producto-card:hover {
  transform: translateY(-5px);
}

.producto-card img {
  width: 90%;
  height: 60%;
  max-height: 25vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#prev,
#next {
  position: relative;
  background: rgba(0, 51, 102, 0.8);
  color: #00CFFF;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: background 0.3s;

}


#prev {
  left: 10px;
}

#next {
  right: 10%;
}

@media (max-width: 768px) {
  .carousel-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel {
    flex-direction: row;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
  }

  .producto-card {
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: center;
    padding: 5%;

  }

  h3 {
    font-size: 1.5em;
    margin-left: 0%;
    margin-top: 35%;
  }

  .producto-card img {
    max-height: 58vh;

  }

  #prev,
  #next {
    font-size: 2rem;
    padding: 8px 12px;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .banner {
    flex-direction: column;
  }
  .carousel {
    flex-wrap: nowrap;
  }
  
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .carousel {
    flex-wrap: now;
  }
}

.none {
  display: none;
}