* {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 150px;
  background: white;
  animation: fadeIn 1s ease;
  height: 70vh;
}

.banner-text {
  flex: 1;
  min-width: 300px;
  padding: 50px 0;
}

.banner-text h1 {
  font-size: 60px;
  color: #003366;
  font-weight: 500;
}

.banner-text p {
  color: #003366;
  margin: 30px 0 40px 0;
  font-size: 25px;
  line-height: 30px;
}

.banner-text button {
  background: #008dff;
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 5px 15px #004a94;
  padding: 10px 30px;
  font-size: 2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s;
}

.banner-text button:hover {
  background: #005bb5;
}

.banner-image {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image img {
  height: 90%;
}

.productos {
  padding: 20px;
  text-align: center;
  background-color: #F1F3F5;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productos h2 {
  text-align: start;
  margin-left: 30px;
  font-weight: 500;
  font-size: 60px;
  color: #003366;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 80%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: pointer;
  margin-right: 100px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.producto-card {
  width: 23%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  flex-shrink: 0;
  scroll-snap-align: center;
  margin: 10px;
  padding: 20px 30px;
}

.producto-card:hover {
  transform: translateY(-5px);
}

.producto-card img {
  height: 80%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  align-self: center;
}

.producto-card p {
  color: rgb(83, 83, 83);
}

#next {
  position: relative;
  background: rgba(0, 51, 102, 0.8);
  color: #00CFFF;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  width: 180px;
  height: 100px;
  z-index: 2;
  transition: background 0.3s;
  font-weight: lighter;
}


#prev {
  left: 10px;
}

#next {
  right: 20px;
}

@media (max-width: 768px) {
  .carousel-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel {
    flex-direction: row;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
  }

  .producto-card {
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: center;
    padding: 5%;

  }

  h3 {
    font-size: 1.5em;
    margin-left: 0%;
    margin-top: 35%;
  }

  .producto-card img {
    max-height: 58vh;

  }

  #prev,
  #next {
    font-size: 2rem;
    padding: 8px 12px;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .banner {
    flex-direction: column;
  }
  .carousel {
    flex-wrap: nowrap;
  }
  
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .carousel {
    flex-wrap: now;
  }
}

.none {
  display: none;
}

