* {
  font-family: 'Segoe UI';
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Codigo de mi página */

#main__Search {
  display: flex;
  height: 80vh;
  margin-top: 50px;
  margin-bottom: 90px;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 25%;
  height: 80vh;
}

.aside__div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.aside__div-h4 {
  padding: 10px 0;
  font-weight: 500;
}

.aside__div-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
}

.aside__div:last-child {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.aside__div-div--last {
  background-color: rgb(27, 27, 27);
  height: 40px;
  width: 3px;
  border-radius: 8px;
}

.aside__div-input {
  width: 35%;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 0 5px 8px rgb(109, 109, 109);
}

.aside__div-input:first-child {
  border-radius: 8px 0 0 8px;
}

.aside__div-input:last-child {
  border-radius: 0 8px 8px 0;
}

.aside__div-input:focus {
  outline: none;
}

.aside__div-input:hover {
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 80vh;
  padding-right: 15px;
}

.section__div {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.section__div-div {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 8px;
  border: 1px solid rgb(231, 231, 231);
  padding: 15px;
  width: 23%;
  height: 500px;
  border-radius: 8px;
  cursor: pointer;
}

.section__div-div-div {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px 5px;
  overflow-y: hidden;
}

.section__div-div-div--fc {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.section__div-div-div--fc img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.section__div-div-div label {
  font-weight: bold;
  margin: 5px 0;
}

@media (max-width: 1100px) {

  .section__div-div {
    height: 400px;
    width: 30%;
  }
}


@media (max-width: 950px) {

  aside {
    padding: 10px 20px;
    height: max-content;
    width: 100%;
  }

  .aside__div {
    display: none;
  }

  .aside__div:first-child {
    display: flex;
  }

  #main__Search {
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: min-content;
  }

  section {
    width: 100%;
    height: max-content;
  }

  .section__div {
    flex-direction: column;
    height: min-content;
    align-items: center;
  }

  .section__div-div {
    width: 90%;
    align-items: center;
  }

  .section__div-div-div--fc img {
    height: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.none {
  display: none;
}