* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

main {
  display: flex;
  height: 80vh;
  margin-top: 20vh;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 25%;
  height: 80vh;
}


.aside__div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.aside__div-h4 {
  padding: 10px;
}

.aside__div-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
}

.aside__div:last-child {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.aside__div-div--last {
  background-color: rgb(27, 27, 27);
  height: 40px;
  width: 3px;
  border-radius: 8px;
}

.aside__div-input {
  width: 30%;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid rgb(189, 189, 189);
}

.aside__div-input:focus {
  outline: none;
}

.aside__div-input:hover {
  text-decoration: none;
}


section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 80vh;
}

.section__div {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  overflow-y: auto
}


.section__div-div {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 8px;
  border: 1px solid rgb(189, 189, 189);
  padding: 15px;
  width: 23%;
  height: 500px;
  border-radius: 8px;
}



.section__div-div-div {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px 5px;
}

.section__div-div-div--fc {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

img {
  
}

.section__div-div-div label {
  font-weight: bold;
  margin: 5px 0;
}

footer {
  display: flex;
  height: 20vh;
}