* {
    font-family: 'Segoe UI';
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #1E1E1E;
}



.--header {
    display: flex;
    flex-direction: row;
    background-color: #F1F3F5;
    height: 7.23vw; /* 125px */
    /* width: 100vw; 1728px */
    border-radius: 0 0 0 2.895vw; /* 50px */
}
.header__img {
    margin-top: 1.075vh;     /* 12px */
    margin-left: 3.24vw;     /* 56px */
    margin-right: 2.256vw;   /* 39px */
    height: 6.075vw;         /* 105px */
    width: 6.075vw;          /* 105px */
    border-radius: 0.868vw;  /* 15px */
}
.header__nav {
    display: flex;
    justify-content: center;
}
.header__nav-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__nav-div-button {
    height: 3.29vw;         /* 57px */
    width: 2.837vw;          /* 49px */
    border-radius: 1.736vw 0 0 1.736vw; /* 30px */
    background-color: #003366;
    border: none;
}
.header__nav-div-button-search{
    width: 1.68vw;
    height: 1.62vw;
}
.header__nav-div-input {
    height: 3.29vw;        /* 57px */
    width: 30.96vw;          /* 535px */
    border: none;
    border-radius: 0 1.736vw 1.736vw 0; /* 30px */
    background-color: #D9D9D9;
    font-size: 1.145vw;      /* 20px */
    padding-left: 0.578vw;   /* 10px */
}
.header__nav-div-input:focus {
    outline: none;
}
.header__nav-div--links {
    margin-left: 1.272vw;    /* 22px */
    margin-right: 4.514vw;   /* 78px */
    font-size: 1.736vw;      /* 30px */
    color: #003366;
}
.header__nav-div-a {
    margin-right: 2.256vw;   /* 39px */
    color: #003366;
}
.header__nav-div-button-img{
    height: 0.85vw;
    width: 1.39vw;
}

.header__nav-div--links-button {
    font-size: 1.736vw;      /* 30px */
    display: flex;
    align-items: center;
    gap: 0.578vw;            /* 10px */
    margin-right: 1.851vw;   /* 32px */
    background-color: #F1F3F5;
    color: #003366;
    border: none;
    cursor: pointer;
}
.header__nav-div--login {
    color: #003366;
    font-size: 1.736vw;      /* 30px */
}
.header__nav-div--login--img{
    width: 3.06vw;
    height: 3.128vw;
}
.header__nav-div--login-a {
    color: #003366;
    margin-left: 0.984vw;    /* 17px */
    margin-right: 1.099vw;   /* 19px */
}
.header__nav-div--login-img {
    margin-right: 1.099vw;   /* 19px */
    margin-top: 0.895vh;     /* 10px */
    width: 2.83vw;
}

main {
  display: flex;
}

.main__img {
  margin-top: 15px;
  position: absolute;
}

article {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: start;
  margin: 40px;
  box-shadow: 0px 0px 2px #757575;
  padding: 50px;
}

h1 {
  padding: 50px 0;
  font-weight: 700;
}

.article__div {
  display: flex;
  justify-content: center;
  height: 100%;
  box-shadow: 0px 0px 2px #757575;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  align-items: stretch;
}



.article__div-img {
  height: 150px;
  margin: 0 10px;
  align-self: center;
}

.article__div-input {
  align-self: start;
  transform: scale(1.3);
}

.article__div-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__div-div-div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__div-div-div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__div-div-div-h2 {
  font-weight: 700;
  font-size: 20px;
}

.article__div-div-div-ul {
  margin-left: 20px;
}

.article__div-div-div-ul-li {
  margin-left: 30px;
  padding: 5px 10px;
  color: #757575;
}

.article__div-div-div-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.article__div-div-div-div-p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.article__div-div-div-button {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  border: none;
}

.article__div-div-div-div-button1,
.article__div-div-div-div-button2 {
  background-color: #003366;
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: 20px;
}

.article__div-div-div-div-button1 {
  border-radius: 8px 0 0 8px;
}

.article__div-div-div-div-button2 {
  border-radius: 0 8px 8px 0;
}

aside {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.aside__div1 {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  height: 25%;
  width: 95%;
  box-shadow: 0 2px 7px rgb(171, 171, 171);
  border-radius: 8px;
  padding: 25px 30px;
  border: 2px solid rgb(206, 206, 206);
  margin: 40px 0;
}

.aside__div-h2 {
  margin: 10px 0;
  padding: 10px;
}

.aside__div2 {
  display: flex;
  height: 75%;
  flex-direction: column;
}

.aside__div-div-button {
  background-color: white;
  border: none;
  color: #047EF9;
  cursor: pointer;
  margin: 3px 0;
}

.aside__div-div1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 0;
}

.aside__div-div2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.aside__button {
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  padding: 13px 15px;
  width: 75%;
  align-self: center;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 3px 5px rgb(187, 187, 187);
  color: black;
  margin: 10px 0;
}

.aside__div-img {
  padding: 5px 0;
  width: 100%;
}

footer {
  background: #003366;
  color: white;
  padding: 20px 0;
}

.footer__div {
  display: flex;
  height: 100%;
  padding: 10px;
}

.footer__div-div {
  margin: 0 120px 40px 20px;
}

.footer__div-div p {
  margin: 5px 0;
}

.footer__div-div p a {
  color: white;
  text-decoration: none;
}

.footer__div-div h4 {
  color: white;
  margin: 0 0 40px 0;
  font-weight: 500;
}

@media (max-width: 950px) {

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__img,.aside__div-img {
    display: none;
  }

  h1 {
    padding: 20px 20px;
    font-weight: 600;
  }

  article {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 5px 0;
  }

  .article__div {
    flex-direction: column;
    justify-content: start;
    margin: 20px;
  }

  .article__div-img {
    align-self: flex-start;
    height: 200px;
  }

  aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__div {
    flex-direction: column;
  }

  .header__nav-div--links, .header__nav-div--login {
    display: none;
  }  

  article {
    box-shadow: none;
  }

}